.navbar {
    background-color: transparent;
    color: white;
}

#BigIMG 
{
    background-size: cover;
    background-image: url('image restaurant.jpg'); /* Remplacez par le chemin vers votre image */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Hauteur de l'écran */
}

.separator-bar {
    background-color: yellow;
    height: 2px;
}


.nav-item:hover {
    background-color: rgba(51, 51, 51, 0.6);
}

.img {
    height:60%;
    width:20%;
}

.navbar
{
    background-color: rgba(0,0,0,0.6);
}

.test {
    float: right;
}


.nav-item
{
    float:right;
}

#second {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    background-color: transparent;
    background-color: rgba(0,0,0,0.3);
  }
  
  #second img {
    order: -1;
    width: 300px; /* Ajustez la largeur selon vos besoins */
  }
  
  #second h3 {
    margin: 0 10px; /* Ajustez la marge si besoin */
    color: white;
  }


  #third h1
  {
    text-align: center;
  }

  #third p
  {
    text-align: center;
    margin-left: 100px;
    margin-right: 50px;
  }

  #third img
  {
    width: 50%;
    height: 25%;
  }

  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer#footer {
    background-image: url("image\ restaurant.jpg");
    filter: grayscale(100%);
    background-size: cover; /* Ou "contain" pour adapter l'image */
    background-position: center; /* Optionnel */
    padding: 75px 0; /* Ajuster le padding si nécessaire */
    color: #fff; /* Couleur du texte */
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="email"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
